<div class="text-center">
  <h2>{{name}}</h2>
  
  <p>{{genre}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    I want to play this game for {{weeks_playing_for}} weeks.
  </p>
  <p>
    <button class="btn btn-primary">Add Your Own!</button>
  </p>
</div>
